* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', 'ariel', Verdana, Tahoma, sans-serif;
  padding: 0;
  margin: 0 auto;
  width: 100vw;
  box-sizing: border-box;
  align-items: center;
  font-size: 16px;
}

.first-page {
  background: url("./images/baground.svg");
  background-size: cover;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 7rem 24px 0 24px;
  gap: 58px;
  width: 100vw;
}

.logo {
  overflow: visible;
  text-decoration: none;
  margin: 2em 0.5em;
  color: #28352f;
  font-weight: 1000;
  letter-spacing: 0.05em;
  box-sizing: border-box;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 0.7em;
  width: 100vw;
  background-color: white;
}

.menu {
  margin: 37px 10px 37px 0;
}

.detail-nav {
  display: none;
}

.intro {
  width: 100%;
  text-align: center;
  margin: 1em auto;
  color: #172b4d;
  padding: 0;
}

#aspancolor {
  color: #36b37e;
}

.header-info {
  font-family: 'Inter', 'ariel', Verdana, Tahoma, sans-serif;
  text-align: center;
  color: #172b4d;
  width: 80%;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.2em;
}

.socials {
  display: flex;
  list-style-type: none;
  gap: 2em;
  margin: 1rem 0.5rem;
  justify-content: center;
  width: 100%;
}

.languages {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  align-items: center;
  list-style-type: none;
  gap: 16px;
  padding: 8px 12px;
  width: 327px;
  border-radius: 4px;
}

.languages li {
  background: #ebf0ee;
  padding: 8px 10px;
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.03em;
  border-radius: 15px;
}

.works-details li {
  width: 100%;
  width: max-content;
  background: #fff;
  border-radius: 10px;
  padding: 12px;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #36b37e;
}

.socials li {
  transition: all 3s east-in-out;
}

.myrecentworks {
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0.2em;
  text-align: center;
  padding: 0.5em 0 0 0;
  max-width: 100%;
  color: #172b4d;
  font-size: 40px;
}

.recent-cont {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto;
  width: 100vw;
  padding: 64px 24px 0 24px;
  gap: 58px;
}

.dash {
  position: relative;
  top: -40px;
}

.my-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  gap: 58px;
  width: 100vw;
  padding: 64px 0;
}

.row-one .row-two {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4px 0;
  max-width: 331px;
  width: 100%;
}

.card {
  width: 100%;
  max-width: 369px;
  margin: 10px;
}

img {
  width: 100%;
}

.img-container {
  width: 100%;
  margin-bottom: 1em;
  border-radius: 13px;
  padding: 5rem 0;
}

.recent-cont img {
  width: 10%;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: #3a4a42;
}

.work-info {
  display: flex;
  flex-direction: column;/* justify-items: center; to set the direction in the cross exis */
  align-items: center;
  gap: 2rem;
  width: 100%;
  border-radius: 8px;
}

.work-title {
  width: 100%;
  max-width: 295px;
  max-height: 57px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: #3a4a42;
  letter-spacing: 0.2em;
  text-align: center;
  padding-bottom: 1.3em;
}

.disp-project {
  max-width: 130px;
  width: 100%;
  background: #36b37f;
  border-radius: 5px;
  font-weight: 1000;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  border: #36b37f solid 5px;
}

.about {
  background: url("images/about-me-left.svg") left top no-repeat, url("images/about-me-right.svg") right top no-repeat;
  background-size: 118.87px;
  background-size: 107.94px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 25px;
  gap: 58px;
  width: 100vw;
}

.about-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  padding: 0 25px;
  gap: 24px;
}

.about-me {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
  width: auto;
}

.about-info {
  width: 100%;
  max-height: 189px;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #42526e;
}

.about-btn {
  align-items: center;
  margin: auto;
  padding: 12px;
  gap: 10px;
  width: 159px;
  height: 48px;
  background: #36b37f;
  border-radius: 4px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
}

footer {
  background: url("images/bottom-left.svg") no-repeat bottom left, url("images/bottom-left2.svg") no-repeat bottom left 15%, url("images/bottom-right.svg") no-repeat bottom right;
}

.footer-about-btn {
  max-width: 129px;
  width: 100%;
  background: #36b37f;
  text-align: center;
  font-weight: 600;
  font-size: 15px;
  color: #fff;
  border: solid 15px #36b37f;
  border-radius: 4px;
}

.about-wrapper {
  max-width: 327px;
  max-height: 352px;
  width: 100%;
  display: flex;
  flex-direction: column; /* to set contets in the cross axis */
  justify-content: flex-start;
  margin: 35px 0;
  background: #ebf0ee;
  border-radius: 8px;
  border: 1px solid #c1c7d0;
}

.about-head {
  max-width: 337px;
  max-height: 32px;
  font-weight: 600;
  width: 100%;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #344563;
  margin-bottom: 17px;
}

.works-details {
  max-width: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* provide three columns with 1fr */
  gap: 10px;
  margin-top: 30px;
  list-style: none;
  justify-content: space-evenly;
}

button:hover {
  scale: 1.3;
  background-color: #98b336;
  border: 12px solid#98b336;
  border-radius: 50%;
  line-height: 60%;
  padding: 0;
}

.footer-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 15px auto;
  gap: 58px;
}

form {
  opacity: 1;
  width: 100%;
  padding: 0.1rem 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.footer-content {
  opacity: 1;
  margin: auto;
  width: 100vw;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
}

.footer-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 10px 15px;
  width: 100%;
  opacity: 1;
}

.footer-input:hover {
  scale: 0.98;
  border: #ffc404 solid 7px;
  border-radius: 30px;
}

.input {
  width: 100%;
  height: 48px;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
}

.input-area {
  background: white url("images/Icon.png") no-repeat right bottom;
  width: 100%;
  height: 114px;
  border: 2px solid #acb7c3;
  border-radius: 8px;
  padding: 10px 15px;
}

.footer-email {
  width: 100%;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #42526e;
}

.footer-media-link {
  width: 100%;
  max-width: 170.17px;
  margin: 1.5rem auto;
}

/* CSS Class for the JS  */
.display-nav {
  margin: 2rem 1rem;
}

.display-nav ul li {
  list-style: none;
  font-weight: 600;
  font-size: 37px;
  line-height: 44px;
  color: #3a4a42;
  letter-spacing: 0.2rem;
  margin: 3.5rem 1rem;
}

.socials li:hover {
  scale: 1.5;
}

.for-nav {
  background-color: #f7f7f9;
  width: 100vw;
  height: 100vh;
}

.for-exit {
  background: url('./images/exit.svg') no-repeat right top;
  margin-top: 1.3rem;
  width: 40px;
  height: 40px;
}

.active {
  background-color: orangered;
  text-decoration: underline overline orangered;
}

/* ````` style for popup `````` */

.for-body {
  background-color: #dfe1e6;
  padding: 1.3rem;
}

.for-desktop-nav {
  display: none;
}

.popup-style {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 16px;
  gap: 12px;
  width: 100%;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.popup-style h4 {
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.card-image {
  background: url('./images/popup-mobile.png') no-repeat;
  background-size: cover;
  border-radius: 16px;
  width: 100%;
  min-width: 311px;
  min-height: 220px;
  display: flex;
  flex-direction: row-reverse;
  padding-top: 16px;
}

.card-image a {
  max-width: 40px;
  max-height: 40px;
  background: url('./images/exit.png') no-repeat;
  position: absolute;
  right: 8%;
}

.languages li a {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #3a4a42;
}

.popup-style p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.to-flex {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
  width: 100%;
}

.to-flex .disp-project {
  display: flex;
  justify-content: space-between;
  max-width: 311px;
  max-height: 56px;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.03em;
  padding: 8px 6px;
  gap: 12px;
}

@media (min-width: 1022px) {
  .first-page {
    background: url("images/bground.png") no-repeat center center;
    background-size: cover;
    align-items: center;
    box-sizing: border-box;
    margin: auto;
    width: 100vw;
  }

  /* main {
    width: 100vw;
    align-items: center;
    box-sizing: border-box;
  } */

  .img-btn {
    visibility: hidden;
    opacity: 1;
    max-width: 327px;
    max-height: 48px;
    width: 100%;
  }

  .menu,
  .logo {
    visibility: hidden;
  }

  nav {
    width: 100vw;
    background-color: white;
    align-items: center;
    position: fixed;
  }

  .detail-nav {
    display: block;
    align-items: center;
    gap: 25px;
    width: 100%;
    margin: auto;
  }

  .detail-nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 38px;
    justify-content: center;
  }

  .detail-nav ul > li {
    list-style-type: none;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
  }

  .intro {
    width: 100%;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.37px;
    color: #172b4d;
    opacity: 1;
  }

  .recent-cont {
    gap: 20px;
  }

  .dash {
    visibility: hidden;
  }

  .my-container {
    gap: 24px;
    max-width: 1171px;
  }

  .row-one,
  .row-two {
    display: flex;
    flex-direction: row;
    max-width: 1155px;
    width: 100%;
    padding: 4px 0;
  }

  .row-two {
    display: flex;
    flex-direction: row;
    max-width: 1155px;
    width: 100%;
    padding: 4px 0;
  }

  .about {
    justify-content: center;
    padding: 80px 0;
    gap: 48px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
  }

  .about-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    max-width: 920px;
    width: 100%;
  }

  .about-card-container {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }

  .footer-wrap {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 80px 0;
    gap: 24px;
    width: 100vw;
    margin: auto;
  }

  .footer-content {
    width: 35%;
  }

  form {
    width: 65%;
    opacity: 1;
  }

  .footer-email {
    visibility: hidden;
  }

  /* ````` style for popup desktop `````` */

  .for-body {
    background: #c1c7d0;
    mix-blend-mode: multiply;
    padding: 122px 260px;
    padding: 1.3rem;
  }

  .for-desktop-nav {
    display: block;
    background-color: white;
    width: 5rem;
    height: 24px;
  }

  .popup-style h4 {
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    color: #172b4d;
  }

  .card-image {
    background: url('./images/popup-desktop.svg') no-repeat;
    min-width: 872px;
    min-height: 616px;
    border: 1px solid #dfe1e6;
    background-size: cover;
    border-radius: 16px;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    padding-right: 15px;
    padding-top: 25px;
  }

  .card-image a {
    display: none;
  }

  .languages li a {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #3a4a42;
  }

  .popup-style p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
  }

  .to-flex {
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
    width: 100%;
  }

  .to-flex .disp-project {
    display: flex;
    justify-content: space-between;
    max-width: 311px;
    max-height: 56px;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.03em;
    padding: 8px 6px;
    gap: 12px;
  }

  #id1 {
    order: 1;
  }

  #id4 {
    order: 2;
  }

  #id2 {
    order: 3;
  }

  #id3 {
    order: 4;
  }

  .try {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
